/* Style the list */
ul.tab {
    /*background: red;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 25px;
    max-height: 25px;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 2px 5px;
    transition: 0.3s;
    font-size: 12px;
    width: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid #fff;
    border-top: 2px solid #0089ec;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    border-top: 2px solid #ccc;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background: #eeeeee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight: bold;
}

.mm-active {
    background: #eaecef;
    border-top: 2px solid #0089ec;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Close Button */
[class*='close-'] {
    color: #777;
    font: 12px/100% arial, sans-serif;
    position: absolute;
    right: 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 1px;
}

.close-thin:after {
    content: '×'; /* UTF-8 symbol */
}

.close-thin:hover {
    color: #0091ea;
}

.dialog {
    background: #ddd;
    float: left;
    height: 30px;
    position: relative;
    width: 80px;

}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}